:root {
  --mainColor: black;
  --secondaryColor: #6244c5;
  --mainText: #12141d;
  --secText: #5a5a5a;
  --thrText: #c4c4c4;
  --white: #fff;
  --SocialBg: #f6f6f6;
}

//light colors
html {
  --mainBg: var(--white);
  --mainTextColor: var(--mainText);
  --secTextColor: var(--secText);
  --secSocialBg: var(--mainText);
  --btnHover: var(--mainColor);
}
//dark colors
html[data-theme="dark"] {
  --mainBg: var(--mainColor);
  --mainTextColor: var(--white);
  --secTextColor: var(--thrText);
  --secSocialBg: var(--secondaryColor);
  --btnHover: var(--white);
}
