@import "colors";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  background-color: var(--lightBtn);
  color: var(--textColor);
}
a {
  color: inherit;
  text-decoration: none;
}
