.navbar {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
  background-color: var(--mainBg);
  .logoHolder {
    font-size: 35px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .navigators {
    display: flex;
    gap: 50px;
    font-size: 18px;
    font-weight: normal;
    .navigator {
      hr {
        transition: 0.4s;
        opacity: 0;
        width: 0;
        margin-top: 4px;
      }
      &:hover,
      &[is-active="true"] {
        hr {
          opacity: 1;
          width: 100%;
        }
      }
    }
  }
  .actions {
    display: flex;
    gap: 20px;
  }
}
html[data-theme="dark"] {
  .logoHolder {
    .myLogo {
      filter: invert(1);
    }
  }
}
